<p id="notice"><%= notice %></p>

<h1>Election Trails</h1>

<% @election_trails.each do |election_trail| %>
   <section><%= "#{election_trail.format} at #{election_trail.created_at}" %></section>
   <br>
<%end%>

